.body
{
display: flex;

}

.waitingMode
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  background: rgba(196, 202, 196, 0);
  top:0;

  &>span
  {
    position: absolute;
    font-size: 20px;
    color: black;
  }
}
